<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Meta-Mojo - Srini</title>
  <link href="../static/ie.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/screen.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="../static/mm.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class='container'>
    <div id='whoami'>
      <div class='header'>
        Meta <br/> Mojo
      </div>
      <div style='float:left' class='person'>
        <img class='profilepic' src='../static/me.jpg' />
        <div style='float:left'>
        <h2>Srinivasan T</h2>
        Madison, WI
        </div>
      </div>

      <div style='float:right; margin-right: 20px; margin-top: 45px' class='links'>
        <a style='float:right; margin: 0 5px' href='#'> Logout </a>
        <a style='float:right; margin: 0 5px' href='#'> Settings </a>
        
        <a href='#' style='float:right; margin: 0 2px'> Back Home </a> 
        <img style='float:right' src='../static/smi/icon-home.png'>
      </div>
    </div>
    
    <div class='span-15' id='center'>    
      <form class='clearfix' id='new_entry'>
        <textarea>Whats in your mind?</textarea>
        <br />
        <div id='smiley-strip'>
          <img class='smi' src='../static/smi/tears.png'>
          <img class='smi' src='../static/smi/sad.png'>
          <img class='smi' src='../static/smi/dry.png'>
          <img class='smi' src='../static/smi/smile.png'>
          <img class='smi' src='../static/smi/biggrin.png'>
        </div>
        <input type='submit' value='Post it!' />
      </form>
      
      <br /> <br />
      
      <div class='message  clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/tears.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='sad'>
            Coffee was bad! Hopefully it improves..
          </span>
          <div class='time' >
            posted 2 mins ago
          </div>
        </div>
      </div>
      
      <div class='message clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/tears.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='sad'>
            Coffee was bad! Hopefully it improves..
          </span>
          <div class='time' style=''>
            posted 2 mins ago
          </div>
        </div>
      </div>
      
      <div class='message  clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/smile.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='happy'>
            AWESOME weather. I feel like going out for a jog today.
          </span>
          <div class='time' >
            posted 14 hours ago
          </div>
        </div>
      </div>
      
      <div class='message clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/smile.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='happy'> 
            Wrapped up the assignment today. Julian Assange is a good guy. Maybe not. Keep track of things near and dear all the time.
          </span>
          <div class='time'>
            posted 1 day ago
          </div>
        </div>
      </div>
      
      <div class='message  clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/dry.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='neutral'>
            Whatever happens, life has to go on - Lao Tzu
          </span>
          <div class='time'>
            posted 2 days ago
          </div>
        </div>
      </div>
      
    </div>
    
    <div class='span-8' id='right'>
      <!--div id='nav'>
        <a href='#'> Back Home </a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a href='#' style='float:right'> Logout </a>
      </div-->
      <h3 class='title'> Recent Friend Updates </h3>
      
      <div class='friend-message  clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/tears.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='sad'>
            Coffee was bad! Hopefully it improves..
          </span>
          <div class='time' >
            <a href='#'>srinivt</a> posted 2 mins ago
          </div>
        </div>
      </div>
      
      <div class='friend-message clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/tears.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='sad'>
            Coffee was bad! Hopefully it improves..
          </span>
          <div class='time' style=''>
            <a href='#'>tony</a> posted 2 mins ago
          </div>
        </div>
      </div>
      
      <div class='friend-message  clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/smile.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='happy'>
            AWESOME weather. I feel like going out for a jog today.
          </span>
          <div class='time' >
            <a href='#'>srinivt</a> posted 14 hours ago
          </div>
        </div>
      </div>
      
      <div class='friend-message clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/smile.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='happy'> 
            Wrapped up the assignment today. Julian Assange is a good guy. Maybe not. Keep track of things near and dear all the time.
          </span>
          <div class='time'>
            <a href='#'>srinivt</a> posted 1 day ago
          </div>
        </div>
      </div>
      
      <div class='friend-message  clearfix'>
        <img class='smi' style='float:left;' src='../static/smi/dry.png'>
        <div class='text' style="float: left; margin-left: 10px">
          <span class='neutral'>
            Whatever happens, life has to go on - Lao Tzu
          </span>
          <div class='time'>
            <a href='#'>tony</a> posted 2 days ago
          </div>
        </div>
      </div>
      
      <br>
      <br>
      <h3 class='title'> My Friends </h3>
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
      <img class='friendpic' src='../static/me.jpg' />
    <div>
    
  </div>
</body>